extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'


//- https://bit.ly/2ScDxiQ
//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.section-main-cv
		//- section.skill-section.container-fluid
		//- 	.ability-box.my_box.item
		//- 		h4.title Skill
		//- 			.skill-box
		//- 				.row
		//- 					.col-md-6.skill-col
		//- 						.skill
		//- 							p HTML5 & CSS3
		//- 							.progress
		//- 								.progress-bar(style="width:75%")
		//- 					.col-md-6.skill-col
		//- 						.skill
		//- 							p Bootstrap & Responsive
		//- 							.progress
		//- 								.progress-bar(style="width:75%")
		//- 					.col-md-6.skill-col
		//- 						.skill
		//- 							p SASS/ SCSS
		//- 							.progress
		//- 								.progress-bar(style="width:75%")
		//- 					.col-md-6.skill-col
		//- 						.skill
		//- 							p Javascript/ ES6 & Jquery
		//- 							.progress
		//- 								.progress-bar(style="width:75%")
		//- 					.col-md-6.skill-col
		//- 						.skill
		//- 							p Github
		//- 							.progress
		//- 								.progress-bar(style="width:75%")
		//- 					.col-md-6.skill-col
		//- 						.skill
		//- 							p AngularJs
		//- 							.progress
		//- 								.progress-bar(style="width:75%")
		//- 					.col-md-6.skill-col
		//- 						.skill
		//- 							p NodeJs
		//- 							.progress
		//- 								.progress-bar(style="width:75%")
		//- 					.col-md-6.skill-col
		//- 						.skill
		//- 							p Gulp
		//- 							.progress
		//- 								.progress-bar(style="width:75%")
		//- 					.col-md-6.skill-col
		//- 						.skill
		//- 							p Wordpress
		//- 							.progress
		//- 								.progress-bar(style="width:75%")
	section.section-experinent.container-fluid
		.experinent-box.container
			ul.epx-list
				li.epx-item
					.item.left
						.content
							h4 FullStack VietNam
							p.role 
								em As Frontend Developer
							.date 
								em Jan 2018 - now
							ul
								li During the time I go to work. I also learning web development by myself on Udemy.com, Tree ...
								li A half of 2018, I join the FullStack VietNam community where 
									a(href="https://baonguyenyam.github.io/cv/" target="_blank") Mr. Bao Nguyen 
									span is my teacher. In here, I have gained a lot of skill as well as working with a lot of real-world projects.
						.empty

				li.epx-item
					.item.right
						.content
							h4 Robert Bosch Engineering and Business Solutions VietNam
							p.role 
								em As Software Engineer
							.date 
								em Nov 2017 - Otc 2018
							ul
								li During a year working in 
									strong the internaltional environment, I can be able to contact and discuss to the colleages around the world.
								li Reading Document.
								li Solving problem.
								li Teamwork.
						.empty

				li.epx-item
					.item.left
						.content
							h4 Bach Khoa University
							p.role 
								em As Mechanical Engineer
							.date 
								em 2013 - 2018
							ul
								li Falcuty: Automotive Engineering.
								li GPA: 8/10
								li Although I had not learning IT falcuty, I had learned the basic programing concept like:
									strong  data structure & algorithm, C and C++ language ...
						.empty
