
extends _layout/layout

block body
	#page
		//- Intro
		section.intro-section
			.video-container
				video(autoplay="true" loop)
					source(src="./img/walking.mp4" type="video/mp4")
				.overlay
		//- Features
		section#about-me.part-section.about-me-section
			.container
				h3.title About me
				.row.eqh
					.about-me-info-col.col-md-8
						.content
							p
								| Hi, My name's Vu, I'm a Front Developer with 1+ years of experience in front end
								| development. I have developed projects for many companies in the country, both
								| independently and in teams.
							h4
								| Objectives
							p
								| My professional objectives are to develop and create good websites for users. Besides
								| programming I have good communication skills, always deliver on time and Guarantee 100%
								| Satisfaction and Quality.
							h4
								| What I Do?
							p
								| I am very dedicated about web programming and willing to learn a new skill every day.
								| I'm honesty, good comunication, responsible and always ready to work on something new.
							.row.skill-row
								.col-6.col-md-4
									p
										i.fa.fa-check
										|  HTML5
								.col-6.col-md-4
									p
										i.fa.fa-check
										|  CSS3
								.col-6.col-md-4
									p
										i.fa.fa-check
										|  SASS/SCSS
								.col-6.col-md-4
									p
										i.fa.fa-check
										|  PUG
								.col-6.col-md-4
									p
										i.fa.fa-check
										|  Bootstrap
								.col-6.col-md-4
									p
										i.fa.fa-check
										|  Javascript
								.col-6.col-md-4
									p
										i.fa.fa-check
										|  ES6
								.col-6.col-md-4
									p
										i.fa.fa-check
										|  Angular 2+
								.col-6.col-md-4
									p
										i.fa.fa-check
										|  Github
								.col-6.col-md-4
									p
										i.fa.fa-check
										|  NodeJs
								.col-6.col-md-4
									p
										i.fa.fa-check
										|  Gulp
							.btn-outter
								a.btn.btn-danger.view-cv-btn(href="https://drive.google.com/file/d/1XPkyjcqWHWHzL6D8BRuZ2noZhEhsSxjw" target="_blank") View My CV
					.about-me-figure-col.col-md-4
						.figure-box
							figure
								img.my-avatar.img-fluid(src="./img/avatar.jpg" alt="letrananhvu")
							figcaption
								ul
									li
										strong Name:
										|  Le Tran Anh Vu
									li
										strong Date of birth:
										|  15 July 1995
									li
										strong Address:
										|  315/4 Thanh Xuan Ward, District 12, Ho Chi Minh City,
										|                                         Viet Nam
									li
										strong Email:
										|  vule5726@gmail.com
									li
										strong Phone:
										|  (+84) 093 400 5431

		//- Portfolio section
		section#portfolio.part-section.portfolio-section.portfolio-section-2
			.container
				h2.title Projects
				.row
					.col-sm-6.col-md-4
						a(href="https://letrananhvu.github.io/Chubb/mua-online/mua-online-buoc1" title="portfolio" target="_blank")
							.portfolio-box.portfolio-box1
								.overlay
									.caption
										h5 Chubb
										p Angular 7
								img(src="./img/projects-chubb-800x800.jpg" alt="image")
					.col-sm-6.col-md-4
						a(href="https://bit.ly/2OZCS2b" title="portfolio" target="_blank")
							.portfolio-box.portfolio-box1
								.overlay
									.caption
										h5 An Cư Corp
								img(src="./img/projects-ancu-800x800.jpg" alt="image")
					.col-sm-6.col-md-4
						a(href="https://bit.ly/2R8oCpB" title="portfolio" target="_blank")
							.portfolio-box.portfolio-box1
								.overlay
									.caption
										h5 Fullstack VietNam
								img(src="./img/projects-fs-800x800.jpg" alt="image")
					.col-sm-6.col-md-4
						a(href="https://bit.ly/2QoFT0V" title="portfolio" target="_blank")
							.portfolio-box.portfolio-box1
								.overlay
									.caption
										h5 Website my pham
								img(src="./img/projects-mypham-800x800.jpg" alt="image")
					.col-sm-6.col-md-4
						a(href="https://bit.ly/2yJHMLq" title="portfolio" target="_blank")
							.portfolio-box.portfolio-box1
								.overlay
									.caption
										h5 Website địa ốc
								img(src="./img/projects-diaoc-800x800.jpg" alt="image")
					.col-sm-6.col-md-4
						a(href="https://github.com/LeTranAnhVu" title="portfolio" target="_blank")
							.portfolio-box.portfolio-box1
								.overlay
									.caption
										h5 More Projects
								img(src="./img/projects-more-800x800.jpg" alt="image")
				
		
		//- Work experinent
		section.part-section.section-experinent.container-fluid
			.experinent-box.container
				h2.title  My Previous Work 
				ul.epx-list
					li.epx-item
						.item.left
							.content
								h4
									a(target="_blank" href="https://neta.edu.vn/") Neta VietNam
								p.role
									em As Frontend Developer
								.date
									em Jan 2018 - now
								ul
									li
										| During the time I go to work. I also learning web development by myself on
										| Udemy.com, Tree ...
									li
										| A half of 2018, I join the FullStack VietNam community where 
										a#baonguyen(href="https://baonguyenyam.github.io/cv/" target="_blank")
											strong 
												em Mr. Bao Nguyen
										span
											| is my teacher. In here, I have
											| gained a lot of skill as well as working with a lot of real-world projects.
							.empty
					li.epx-item
						.item.right
							.content
								h4 Robert Bosch Engineering and Business Solutions VietNam
								p.role
									em As Software Engineer
								.date
									em Nov 2017 - Otc 2018
								ul
									li
										| During a year working in 
										strong
											| the internaltional environment, I can be able
											| to contact and discuss to the colleages around the world.
									li Reading Document.
									li Solving problem.
									li Teamwork.
							.empty
					li.epx-item
						.item.left
							.content
								h4 Bach Khoa University
								p.role
									em As Mechanical Engineer
								.date
									em 2013 - 2018
								ul
									li Falcuty: Automotive Engineering.
									li GPA: 8/10
									li
										| Although I had not learning IT falcuty, I had learned the basic programing
										| concept like:
										strong  data structure & algorithm, C and C++ language ...
							.empty
		//- /experinent

		//- skill
		section#skill.part-section.skill-section.container-fluid
			.triangle
			.ability-box.container
				h2.title Skill 
				.skill-box
					.row
						.col-md-6.skill-col
							.skill
								p
									| HTML5 & CSS3
									span 90%
								.progress
									.progress-bar(style="width:90%")
						.col-md-6.skill-col
							.skill
								p
									| Bootstrap & Responsive
									span 85%
								.progress
									.progress-bar(style="width:85%")
						.col-md-6.skill-col
							.skill
								p
									| SASS/ SCSS
									span 75%
								.progress
									.progress-bar(style="width:75%")
						.col-md-6.skill-col
							.skill
								p
									| Javascript/ ES6 & Jquery
									span 90%
								.progress
									.progress-bar(style="width:90%")
						.col-md-6.skill-col
							.skill
								p
									| Git
									span 70%
								.progress
									.progress-bar(style="width:70%")
						.col-md-6.skill-col
							.skill
								p
									| Angular 2+
									span 70%
								.progress
									.progress-bar(style="width:70%")
						.col-md-6.skill-col
							.skill
								p
									| NodeJs
									span 80%
								.progress
									.progress-bar(style="width:80%")
						.col-md-6.skill-col
							.skill
								p
									| Frontend build system (Gulp)
									span 90%
								.progress
									.progress-bar(style="width:90%")
						.col-md-6.skill-col
							.skill
								p
									| MongoDB
									span 70%
								.progress
									.progress-bar(style="width:70%")
		//- /skill
		//- Contact section
		section#contact.part-section.contact-section.contact-section-2
			
			.container
				h2.title Contact me
				.row
					.col-md-6.col-md-offset-1
						.content
							.info-box
								.img
									i.fa.fa-map-marker
								.info
									h5.hd Address
									p.sub-txt 315/4 Thanh Xuan Ward, District 12, Ho Chi Minh City, Viet Nam
							//- Address
							.info-box
								.img
									i.fa.fa-phone
								.info
									h5.hd Call me on
									p.sub-txt (+84) 093 400 5431
							//- Call me
							.info-box
								.img
									i.fa.fa-envelope-o
								.info
									h5.hd Email me on
									p.sub-txt
										a vule5726@gmail.com
