
$xam: #3b4c5c
$tro: #8392a0
$cam: #FF9800
$do: #d43f3a


// global
ul
	list-style: none
	padding-left: 0
.part-section
	padding-top: 100px 
	padding-bottom: 50px
	.title
		font-size: 50px
		text-transform: capitalize
		font-weight: 300
		color: $xam
		text-align: center
		margin-bottom: 50px


.portfolio-section
	.portfolio-box
		position: relative
		.overlay
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 100%
			opacity: 0

		img
			width: 100%
		&:hover
			.overlay
				background: rgba(0, 0, 0, 0.75)
				opacity: 1


.about-me-section
	background: lighten($xam,50)
	
	p, ul, li
		color: $tro
	i
		color: $cam
	.content
		.btn-outter
			margin: 20px 0
			.view-cv-btn
				margin: auto
				display: block
				width: 150px
				font-size: 18px
				background: $do
	.figure-box
		figure
			overflow: hidden
			border-radius: 50%
			max-width: 50%
			margin: 20px auto
		figcaption
			margin-left: 20px
		+media-breakpoint-up(md)
			figure
				max-width: 80%






.skill-section
	padding: 0
	.ability-box
		margin: 0
		background: #1a1e23
		.skill-box
			padding: 40px
			.row
				margin: 0
				.skill-col
					.skill
						p
							color: white
						.progress
							width: 100%
							background: #7979795c
							.progress-bar
								background: #ff9800
								border-radius: 10px
.section-experinent
	margin-top: 100px
	background: #ecf0f1 
	.experinent-box
		padding-top: 30px
		.epx-list
			list-style: none
			padding-left: 0
			position: relative
			// mainline
			&:before
				content: ""
				display: block
				height: 100%
				width: 2px
				background: #ff9800
				position: absolute
				top: 0
				left: 0
				transform: translateX(-50%)
			.epx-item
				padding-left: 40px
				position: relative
				// circle
				&:before
					content: ""
					display: block
					height: 10px
					width: 10px
					border-radius: 50%
					background: #ff9800
					position: absolute
					top: 30px
					left: 0px
					transform: translateX(-50%)
				.item
					display: flex
					position: relative
					margin: 30px 0
					.content
						width: 100%
						padding: 30px
						border-radius: 20px
						position: relative
						background: white
						color: black
						// triangle
						&:before
							content: ""
							display: block
							height: 30px
							width: 30px
							border-radius: 2px
							background: inherit
							position: absolute
							top: 20px
							left: 0%
							transform: translateX(-50%) rotate(45deg)
						h4
							color: #ff9800
							font-weight: 500
						.role
							margin-bottom: 5px
						.date
							margin-bottom: 10px
							text-align: right
							em
								text-align: right
								color: #999999
						ul
							li
								margin-bottom: 10px
								font-size: 1.2rem
	+media-breakpoint-up(md)
		.experinent-box
			// padding: 0
			.epx-list
				// mainline
				padding: 0
				&:before
					left: 50%
				.epx-item
					padding: 0
					// circle
					&:before
						height: 20px
						width: 20px
						top: 20px
						left: 50%
						transform: translateX(-50%)
					.item
						margin: 40px 0
						.content
							width: 40%
							h4
							date
							// triangle
							&:before
								content: ""
								display: block
								height: 30px
								width: 30px
								border-radius: 2px
								background: inherit
								position: absolute
								top: 20px
						&.right
							flex-flow: row-reverse nowrap
							.content
								// triangle
								&:before
									left: 0%
									transform: translateX(-50%) rotate(45deg)
						&.left
							flex-flow: row nowrap
							.content
								&:before
									right: 0%
									left: initial
									transform: translateX(50%) rotate(45deg)
						.empty
							flex-grow: 1
						


