<!-- ////////////// HEADER ////////////// -->
header
	//- Navigation
	nav(data-glass="y" data-sticky="y")
		.container
			nav
				.hamburger#hambuger
					span.span1
					span.span2
					span.span3
				ul.nav-items
					li.nav-item
						a.nav-link(href="#I") V
					li.nav-item
						a.nav-link(href="#about-me") About Me
					li.nav-item
						a.nav-link(href="#portfolio") Portfolio
					li.nav-item
						a.nav-link(href="#experience") Experience
					li.nav-item
						a.nav-link(href="#skill") Skill
					li.nav-item
						a.nav-link(href="#contact") Contact
<!-- ////////////// HEADER ////////////// -->
	