<!-- ////////////// HEADER ////////////// -->
header
	//- Navigation
	nav.nav-wrp.nav-1.dark(data-glass="y" data-sticky="y")
		.container
			.nav-header
				a.navbar-brand(href="#")
					i.fa.fa-train
				a.nav-handle(data-nav=".nav")
					i.fa.fa-bars
			.nav.vm-item
				ul.nav-links
					li
						a(href="#about-me") About me
					li
						a(href="#portfolio") Portfolio
					li
						a(href="#skill") Skill
					li
						a(href="#contact") Contact
<!-- ////////////// HEADER ////////////// -->
	